<script>
  const EDITOR_JS_URL = "<%= @setka[:editor_files][1] %>";
  const EDITOR_CSS_URL = "<%= @setka[:editor_files][0] %>";
  const COMPANY_CSS_URL = "<%= @setka[:theme_files][0] %>";
  const COMPANY_JSON_URL = "<%= @setka[:theme_files][1] %>";
  const CONTAINER = ".setka-editor-container";
  const PUBLIC_TOKEN = "<%= @setka[:public_token] %>";

  const editorCSS = document.createElement('link');
  editorCSS.rel = 'stylesheet';
  editorCSS.href = EDITOR_CSS_URL;
  document.head.appendChild(editorCSS);

  const companyCSS = document.createElement('link');
  companyCSS.rel = 'stylesheet';
  companyCSS.href = COMPANY_CSS_URL;
  document.head.appendChild(companyCSS);

  const editorJS = document.createElement('script');
  editorJS.async = true;
  editorJS.src = EDITOR_JS_URL;
  editorJS.onload = initSetkaEditor;
  document.head.appendChild(editorJS);

  async function initSetkaEditor() {
    const res = await fetch(COMPANY_JSON_URL);
    const json = await res.json();

    const config = {
      ...json.config,
      container: CONTAINER,
      public_token: PUBLIC_TOKEN,
    };

    const { assets } = json;

    SetkaEditor.start(config, assets);
  }
</script>

<%= form_with model: @post do |form| %>
  <div class='container'>
    <div class='row'>
      <div class='col-md-4'></div>
      <div class='col-md-4'>
        <h1>New post</h1>
      </div>
      <div class='col-md-4'></div>
    </div>
    <div class='row'>
      <div class='col-md-4'></div>
      <div class='col-md-4'>
        <%= link_to 'Back to posts', posts_path %>
      </div>
      <div class='col-md-4'></div>
    </div>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-8'>
        <div class='input-group mb-3'>
          <span class="input-group-text" id="basic-addon1">Post title</span>
          <%= form.text_field :title, class: 'form-control' %>
        </div>
      </div>
      <div class='col-md-2'></div>
    </div>
  </div>

  <div id='body' class='setka-editor-container'></div>
  <%= form.button 'Save', class: 'btn btn-primary', type: 'button', id: 'post_save' %>
<% end %>

<script>
  (function() {
    document.getElementById("post_save").addEventListener("click", function() {
      fetch("/api/posts", {
        method: "POST",
        headers: { "Content-Type": "application/json;charset=utf-8" },
        body: JSON.stringify({ post:
          {
            title: document.getElementById('post_title').value,
            body: window.SetkaEditor.getHTML()
          }
        })
      });
    });
  })();
</script>
